#age-gate
  .content
    img(src='img/svg/cuervo-logo.svg')
    h1 Are you of legal drinking age?
    .buttons
      .yes Yes, I am
      .no No, I'm not
    label(for='remember')
      input#remember(type='checkbox')
      span Remember Me
    hr
    p You must be of legal drinking age in your country to enter Cuervo.com
    ul.menu
      li: a(href='http://cuervo.com/tequila-facts' target="_blank") Tequila Facts
      li: a(href='http://cuervo.com/terms-and-conditions' target="_blank") Terms and Conditions
      li: a(href='http://cuervo.com/privacy-policy' target="_blank") Privacy Policy
      li: a(href='http://cuervo.com/contact-us' target="_blank") Contact Us
      li: a(href='http://responsibility.org' target="_blank") Drink Responsibly
    .legal JOSE CUERVO&reg; and other trademarks are owned by Tequila Cuervo La Rojeña, S.A. de C.V. &copy; 2015 Proximo, Jersey City, NJ.
