#footer
  .cuervo-badge
  .wrapper
    .closing-statements
      h1 How will you define the party?
      h3 C.2016 - Future
      a.back-to-top-icon
        include ../assets/img/svg/down-chevron.svg
    ul.page-links
      li: a(href="http://cuervo.com/tequila-facts/" target="_blank") Tequila Facts
      li: a(href="http://cuervo.com/terms-and-conditions/" target="_blank") Terms and Conditions
      li: a(href="http://cuervo.com/privacy-policy/" target="_blank") Privacy Policy
      li: a(href="http://responsibility.org/" target="_blank") Drink Responsibly
    ul.social-links
      li Connect with Cuervo
      li: a(href="https://www.facebook.com/cuervo" class="social-icon facebook" target="_blank")
      li: a(href="https://www.instagram.com/josecuervotequila/" class="social-icon instagram" target="_blank")
      li: a(href="https://twitter.com/JoseCuervo" class="social-icon twitter" target="_blank")
      li: a(href="http://josecuervo.tumblr.com/" class="social-icon tumblr" target="_blank")
      li: a(href="https://www.youtube.com/channel/UC8oQApNLxICi27I0DFCfLbA" class="social-icon youtube" target="_blank")
    .disclaimer.
      JOSE CUERVO and other trademarks are owned by Tequila Cuervo La Roje&ntilde;a, S.A. de C.V. 2015 Proximo, Jersey City, NJ.
      #[br]
      #[br]
      The Rolling Stones and the tongue and lips logo are trademarks of Musidor B.V. 2015 Musidor B.V. under license from Bravado International Group Merchandising Services, Inc. All Rights Reserved.
    a.vice-logo(href="http://vice.com" target="_blank")
  include ../assets/img/svg/waveform-top.svg
