//-
  `content-icon` - creates an icon unit with a hidden details-ribbon for any
  content_type.

  @param {Object}  data - content_type object with two fields defined
    - {String} type:    Content type name (e.g. 'recipe', 'playlist', etc)
    - {Object} content: Content type's content, with title field defined
  @param {Integer} year - numerical value corresponding to icon's decade
mixin content-icon(data, year, index)
  .content-icon(class=data.type)
    a.icon-btn(data-modal-id="##{data.type}-#{year}")
    .details-ribbon
      if data.type === 'playlist'
        +playlist-ribbon(data.content, index)
      else if data.type === 'recipe'
        +recipe-ribbon(data.content)
      else if data.type === 'slideshow'
        +slideshow-ribbon(data.content)
      else if data.type === 'video'
        +video-ribbon(data.content)
      else if data.type === 'interview'
        +interview-ribbon(data.content)

//-
  `content-modal` - takes a content_type data object, and it's corresponding
  year, returning markup for modal containing content_type's content.

  @param {Object}  data - content_type object with type and content fields
    - {String} type:    Content type name (e.g. 'recipe', 'slideshow', etc)
    - {Object} content: Content type's content
  @param {Integer} year - numerical value corresponding to icon's decade
mixin content-modal(data, year)
  if data.type !== 'playlist'
    .content-modal(class=data.type, id="#{data.type}-#{year}")
      .wrapper: .modal-content
        .close-btn
        if data.type === 'recipe'
          +recipe-modal(data.content)
        else if data.type === 'slideshow'
          +slideshow-modal(data.content)
        else if data.type === 'video'
          +video-modal(data.content)
        else if data.type === 'interview'
          +interview-modal(data.content)

//-
  `video-modal` - creates a two section

  @param {Object} content - object with following properties defined
    - {String} title:     Title for video
    - {String} body:      Paragraph of text describing video
    - {String} embed_url: Embed URL provided by YouTube for video
mixin video-modal(content)
  .content!= content.embed_code
  .details
    h3.title!= content.title
    .body= content.body
    .social-wrapper
      a.logo(href="http://cuervo.com/" target="_blank")
      .social-icons
        +facebook-share-link
        +twitter-share-link({ text: content.title })
        +tumblr-share-link({
          shareSource: 'legacy',
          posttype: 'video',
          url: content.share_url,
          content: content.share_url,
          caption: content.body
        })

//-
  `video-ribbon` - returns markup or text to be added to slide-out ribbon

  @param {Object} content - object with following properties defined
    - {String} title: Title for video
mixin video-ribbon(content)
  =content.title

//-
  `playlist-ribbon` creates a two row unit with playback controls in the top
  row and track title as marquee text in the bottom row.

  @param {Object} content - object with following properties defined
  @param {String} index: index of the playlist
mixin playlist-ribbon(content, index)
  .playlist-unit(data-id=index)
    .controls
      a.prev
      a.play
      a.next
    h5.track-info
      span.title= content.title

//-
  `recipe-modal` creates a two section unit for a popup modal, with a drink
  image in left section and drink details on the right.

  @param {Object} content - object with following properties defined
    - {String} title:        Title of drink (< 20 chars)
    - {Array}  ingredients:  Array of strings to be converted to bulleted list
    - {String} instructions: Paragraph(s) detailing how to make drink
    - {String} image_url:    Drink image URL
    - {String} recipes_url:  More recipes URL
mixin recipe-modal(content)
  .content
    img.lazyload(data-src=content.image_url)
  .details
    h3.name= content.name
    ul.ingredients
      each ingredient in content.ingredients
        li!= ingredient
    .preparation= content.instructions
    a(
      href="http://cuervo.com/cocktail-recipes/",
      target="_blank",
      class="see-more-link"
    ) See More Recipes
    .social-wrapper
      a.logo(href="http://cuervo.com/" target="_blank")
      .social-icons
        +facebook-share-link
        +twitter-share-link({ text: content.name + " Recipe" })
        +tumblr-share-link({
          posttype: 'link',
          content: domainUrl,
          caption: content.name + "<br><br>" + content.ingredients + "<br><br>" + content.instructions
        })

//-
  `recipe-ribbon` - returns markup or text to be added to slide-out ribbon

  @param {Object} content - object with following properties defined
    - {String} title: Title for recipe
mixin recipe-ribbon(content)
  =content.title

//-
  `interview-modal` creates a single column unit for an interview from a parsed
  Markdown string

  @param {Object} content - object with the following property defined
    - {String} body: Markdown string of the interview
mixin interview-modal(content)
  .details
    .social-wrapper
      h3.title= content.title
      .social-icons
        +facebook-share-link
        +twitter-share-link({ text: content.title })
        +tumblr-share-link({
          posttype: 'link',
          content: domainUrl,
          caption: content.title
        })
    .description= content.description
  .content
    .interview-body!= marked(content.body)

//-
  `interview-ribbon` - returns markup or text to be added to slide-out ribbon

  @param {Object} content - object with following properties defined
    - {String} title: Title for interview
mixin interview-ribbon(content)
  =content.title

//-
  `read-more-modal` - creates single column pop-up unit containing full decade copy

  @param {Object} content - Decade content object
mixin read-more-modal(content)
  .content-modal(class="read-more", id="read-more-#{content.year}"): .wrapper: .modal-content
    .close-btn
    .details
      h2.year= content.year + 's'
      h3.headline= content.headline
    .content!= marked(content.shown_copy + content.modal_copy)
    .social-wrapper
      a.logo(href="http://cuervo.com/" target="_blank")
      .social-icons
        +facebook-share-link
        +twitter-share-link({
          text: data.meta.description
        })
        +tumblr-share-link({
          posttype: 'link',
          title: content.headline,
          caption: content.shown_copy + content.modal_copy
        })

//-
  `facebook-share-link` - creates an anchor tag with generic facebook sharer link pointing to the site page
mixin facebook-share-link
  a.social-icon.facebook(target="_blank", href="https://www.facebook.com/sharer/sharer.php?u=#{encodeURIComponent(domainUrl)}")

//-
  `twitter-share-link` - creates an anchor tag that shares to Twitter

  @param {Object} query - Object with key/values to be converted to query params for Tweet.

  For valid query params: https://dev.twitter.com/web/tweet-button
mixin twitter-share-link(query)
  - var shareUrl = "https://twitter.com/intent/tweet?url=" + encodeURIComponent(domainUrl) + "&hashtags=partythroughthedecades"
  each param, key in query
    - shareUrl = shareUrl + "&" + key + "=" + encodeURIComponent(param)

  a.social-icon.twitter(target="_blank", href=shareUrl)

//-
  `tumblr-share-link` - creates an anchor tag that shares to Tumblr

  @param {Object} query - Object with key/values to be converted to query params for Tweet.

  For valid query params: https://www.tumblr.com/docs/en/share_button
mixin tumblr-share-link(query)
  - var shareUrl = "https://www.tumblr.com/widgets/share/tool?tags=partythroughthedecades"

  if query.posttype !== 'video'
    - shareUrl = shareUrl + "&canonicalUrl=" + encodeURIComponent(domainUrl)

  each param, key in query
    - shareUrl = shareUrl + "&" + key + "=" + encodeURIComponent(param)

  a.social-icon.tumblr(target="_blank", href=shareUrl)
