#header(role="banner")
  nav#nav-menu
    ul
      li.logo: a(href="http://cuervo.com/" target="_blank")
      li.nav-links: ul
        li.nav-link#anchor-1960: a(href="#year-1960") 60'S
        li.nav-link#anchor-1970: a(href="#year-1970") 70'S
        li.nav-link#anchor-1980: a(href="#year-1980") 80'S
        li.nav-link#anchor-1990: a(href="#year-1990") 90'S
        li.nav-link#anchor-2000: a(href="#year-2000") 00'S
        li.nav-link#anchor-2010: a(href="#year-2010") 10'S
      li#mute-icon
      li#menu-icon
        a
          span
          span
          span
          span
