extends layout

block content
  include _nav

  main
    section#hero
      .wrapper
        header.headings
          .cuervo-badge
          h1!= data.hero.title
          h5!= data.hero.headline
          .cuervo-logo
        .details
          .soundwave
          .intro-copy!= data.hero.intro
          .social-unit
            a.vice-logo(href="http://vice.com" target="_blank")
            a.cuervo-signature(href="http://cuervo.com/" target="_blank")
            .social-wrapper
              +facebook-share-link
              +twitter-share-link({ text: data.meta.description })
              +tumblr-share-link({
                posttype: 'link',
                title: data.hero.title,
                caption: data.hero.intro
              })
      include ../assets/img/svg/down-chevron.svg
      include ../assets/img/svg/waveform-top.svg

    each decade, i in data.decades
      section.lazyload.decade(id= "year-#{decade.year}")
        include ../assets/img/svg/waveform-btm.svg
        .date-line_over
        .date-line_under
        header
          h2.year #{decade.year}s
          h3.headline #{decade.headline}
          a.read-more-link(data-modal-id="#read-more-#{decade.year}")
            | Read The Story
        .wrapper
          .text
            if decade.modal_copy
              !=marked(decade.shown_copy + '&nbsp;' + readMoreLink(decade))
            else
              !=marked(decade.shown_copy)
          .data
            each data in decade.data
              +content-icon(data, decade.year, i)
        if decade.has_foreground
          .foreground-layer.lazyload
        if decade.year === 1970
          .clouds-bg.lazyload
          .clouds-fg.lazyload
          include ../assets/img/svg/plane-1970.svg
        if decade.year === 1990
          .poster-layer.deep.lazyload
          .poster-layer.mid.lazyload
          .poster-layer.front.lazyload
        if decade.year !== 2010
          include ../assets/img/svg/waveform-top.svg

    include _footer

  each decade in data.decades
    +read-more-modal(decade)
    each data in decade.data
      +content-modal(data, decade.year)
