include _mixins
doctype html
html

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content=data.meta.description)
    meta(name='author', content='Jose Cuervo')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon-precomposed" href="/img/favicon.png")
    link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
    meta(property="og:type" content="website")
    meta(property="og:title" content=data.meta.title)
    meta(property="og:description" content=data.meta.description)
    meta(property="og:image" content=domainUrl + "/img/site-share-image.jpg")
    meta(property="og:url" content=domainUrl)
    meta(property="og:site_name" content="Jose Cuervo")
    title= data.meta.title
    link(rel='stylesheet', href='/css/index.css')

  body
    include _age_gate
    block content

    script(src="https://player.vimeo.com/api/player.js")
    script(src='/js/main.js')
    //- google analytics
    script.
      !function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-81289688-1","auto"),ga("send","pageview");
